@body-bg-color: #f8fafc;
@header-bg-color: #ffffff;
@font-family: Roboto, sans-serif;
@color-accent: #645cff;
@text-color: #0f172a;
@transition: all 0.3s ease-in-out;

* {
    box-sizing: border-box;
}

html {
    font-family: @font-family;
    font-size: 16px;
    color: @text-color;
    font-weight: 400;
}

body {
    background-color: @body-bg-color;
    margin: 0;
}

header {
    background-color: @header-bg-color;
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

#header-wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;

    @media (min-width: 700px) {
        max-width: 1120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

#logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo {
        margin: 0;
        text-transform: capitalize;
        line-height: 1.3;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 1px;

        & span {
            font-weight: 600;
            color: @color-accent;
        }
    }

    #burger {
        background-color: transparent;
        color: @color-accent;
        border: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    @media screen and (min-width: 700px) {
        #burger {
            display: none;
        }
    }
}

a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    transition: @transition;
    margin: 0;

    &:hover {
        color: @color-accent;
    }
}

nav,
ul {
    list-style: none;
}

nav {
    margin: 0;
    height: 0;
    overflow: hidden;
    transition: @transition;

    a {
        padding: 0.75rem 1rem;
        display: block;
        color: #334155;
    }

    a:hover {
        background: #a29dff;
        padding-left: 1.5rem;
    }

    @media screen and (min-width: 700px) {
        height: auto;
        display: flex;
    }
}

nav.show-pages {
    height: 11rem;
    margin-bottom: -4px;
}

#social-links {
    display: none;

    @media screen and (min-width: 700px) {
        display: flex;
        padding: 0;

        a {
            color: @color-accent;

            &:hover {
                opacity: 0.7;
            }
        }

        li + li {
            margin: 0 0.5rem;
        }

        li:first-child {
            margin-right: 0.5rem;
        }
        li:last-child {
            margin-right: 0;
        }
    }
}
